<h1>What's Up, <%=@user.username%></h1>

<h2>Your Games:</h2>
    <%@games.each do |g|%>
    <h1><%=g.title%> - <%=g.release_year%></h1>
        <p><%=g.genre%></p>
        <p>Rated: <%=g.rating%></p>
    <%end%>

