<h1>Welcome, <%=@user.username%>!</h1>

<h2>Your Games:</h2>
    <%@games.each do |g|%>
    <h1><%=g.title%> - <%=g.release_year%></h1>
        <h3><%=g.genre%></h3>
        <h4>Rated: <%=g.rating%></h4>

        <p><a href='/games/<%=g.id%>'>EDIT GAME</a></p>
    <%end%>

    <p><a href="/user/<%=@user.id%>/logout">Logout</a></p> 


    <p>New game? Add it to your collection <a href="/games/new">HERE!</a></p>
    <p>Change your username <a href="/user/edit/:id">HERE!</a></p>

    
    <h5>DELETE ACCOUNT</h5>
    <form action="/user/<%=@user.id %>" method="POST">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="delete">
    </form>


